html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;

  background-color: black;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 24px;
  box-sizing: border-box;
}

.main {
  aspect-ratio: 16 / 9;
  height: 800px;
  background-color: white;
}
